@font-face {
    font-family: 'texto';
    src: url('Fontes/Texto/Poppins-Regular.ttf') format('opentype');
}
@font-face{
    font-family: 'titulo';
    src: url(Fontes/Titulo/PatuaOne-Regular.ttf) format('opentype');
} 
.body-principal{
    margin: 0;
    padding: 0;
    font-family: texto;
    background-image: url(Imagens/fundo-site4.png);
    background-size: 200px 200px; /* Ajusta o tamanho da imagem para cobrir toda a tela */
    background-position: center; /* Centraliza a imagem no meio da tela */
    background-position-x: center;
}
@media only screen and (max-width: 767px) {
    .intro-content {
        flex-direction: column; /* Empilhar os elementos em telas menores */
        align-items: center; /* Centralizar os elementos */
    }

    .intro-text {
        max-width: 100%; /* Ocupar toda a largura em telas menores */
        text-align: center; /* Ajuste para centralizar o texto em telas menores */
        margin-top: 20px; /* Ajuste da margem superior em telas menores */
        margin-bottom: 20px; /* Ajuste da margem inferior em telas menores */
    }

    .slider {
        width: 100%; /* Ocupar toda a largura em telas menores */
    }

    .manual-navegation {
        width: 100%; /* Ocupar toda a largura em telas menores */
        margin-top: 20px; /* Ajuste da margem superior em telas menores */
        justify-content: center; /* Ajuste para centralizar os botões em telas menores */
    }
}
body {  
    margin: 0;
    padding: 0;
    font-family: texto;
}

/* Cabeçalho */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff; /* Cor do texto no cabeçalho */
    background-image: linear-gradient(to right, #982649, #AE4147, #C76548);
    margin-top: -20px;
    margin-bottom: -10px;
}

.logo img {
    max-width: 80%; /* Tornar a imagem do logo responsiva */
    margin-top: 15px;
    height: auto;
}

/* Adicione a seguinte regra para tornar o título responsivo */
.titulo {
    text-align: center;
    padding-left: 175px;
}

.titulo h1 {
    font-size: 90px;
    margin: 0;
    font-family: 'titulo';
    margin-top: 10px;
    letter-spacing: 5px;
}

.titulo p {
    font-size: 16px;
    margin: 0;
    font-weight: 600;
}

.titulo-texto {
    color: rgb(128, 27, 57);
    font-size: 30px;
    font-weight: 900;
}

.botoes button {
    background-color: rgb(247, 187, 10); /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto nos botões */
    padding: 10px 20px;
    border: none;
    margin-left: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin-top: 20px;
}

.botao-voluntario {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 20px;
  }
  .botao-voluntario::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
  }
  .botao-voluntario:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .botao-voluntario::after {
    content: '\f2be';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
    font-family: 'Font Awesome 5 Free';
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botao-voluntario:hover::after {
    opacity: 1;
    transform: scale(1,1);
    background-color: rgb(247, 187, 10);
    content: '\f2be'; /* Código Unicode do ícone de usuário do Font Awesome */
    font-family: 'Font Awesome\ 5 Free'; /* Fonte do Font Awesome (deve ser carregada) */
    font-size: 20px; /* Tamanho do ícone */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

  .botao-adote {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    border-radius: 20px;
  }
  .botao-adote::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
  }
  .botao-adote:hover::before {
    opacity: 0 ;
    transform: scale(0.5,0.5);
  }
  .botao-adote::after {
    content: '\f2be';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border: 1px solid rgba(255,255,255,0.5);
    transform: scale(1.2,1.2);
    font-family: 'Font Awesome 5 Free';
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .botao-adote:hover::after {
    opacity: 1;
    transform: scale(1,1);
    background-color: rgb(247, 187, 10);
    content: '\f1b0'; /* Código Unicode do ícone de usuário do Font Awesome */
    font-family: 'Font Awesome\ 5 Free'; /* Fonte do Font Awesome (deve ser carregada) */
    font-size: 20px; /* Tamanho do ícone */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }

nav {
    background-color: rgb(247, 187, 10);
    height: 33px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0px 50px 0px 0px;
    display: flex;
    font-weight: bold;
    text-decoration: none;
}

ul li {
    margin: 0;
    padding: 0;
    margin-top: -6px;
}

ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff; /* Cor do texto no menu */
    text-decoration: none;
}

ul li a:hover{
    font-size: 105%;
    color: rgb(189, 64, 102);
}

.titulo-intro{
    overflow: hidden;
    color: rgb(0, 0, 0);
    background-color: white;
}

#intro {
    text-align: center;
    padding: 20px;
}

.intro-content {
    display: flex;
    flex-direction: column; /* Alterado para empilhar os elementos em telas menores */
    align-items: center;
}

.intro-text {
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    text-align: left;
    margin: 20px auto; /* Centralize o texto horizontalmente */
   
}
.slider {
    margin: 0 auto;
    width: 100%; /* Alterado para ocupar toda a largura */
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    height: auto; /* Alterado para altura automática */
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 400px;
    display: flex;
}

.slides input{
    display: none;
}

.slide {
    width: 25%;
    position: relative;
    transition: 2s;
}

.slide img {
    width: 300px;
}

.manual-navegation {
    position: absolute;
    width: 800px;
    margin-top: -40px;
    display: flex;
    justify-content:  center;    
}

.manual-btn {
    border: 2px solid rgb(0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child) {
    margin-right: 40px;
}

.manual-btn:hover {
    background-color: rgb(247, 187, 10);
}

#radio1:checked ~ .first {
    margin-left: 0;
}

#radio2:checked ~ .first {
    margin-left: -25%;
}

#radio3:checked ~ .first {
    margin-left: -50%;
}

#radio4:checked ~ .first {
    margin-left: -75%;
}

.navegation-auto div {
    border: 2px solid rgba(0, 0, 0, 0);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.navegation-auto {
    position: absolute;
    width: 800px;
    margin-top: 360px;
    display: flex;
    justify-content: center;
}

.navegation-auto div:not(:last-child) {
    margin-right: 40px;
}

#radio1:checked ~ .navegation-auto .auto-btn1 {
    background-color: rgb(247, 187, 10);
}

#radio2:checked ~ .navegation-auto .auto-btn2 {
    background-color: rgb(247, 187, 10);
}

#radio3:checked ~ .navegation-auto .auto-btn3 {
    background-color: rgb(247, 187, 10);
}

#radio4:checked ~ .navegation-auto .auto-btn4 {
    background-color: rgb(247, 187, 10);
}

.quero-adotar {
    position: relative;
    background-color: rgb(247, 187, 10); /* Cor de fundo dos botões */
    color: #fff; /* Cor do texto nos botões */
    padding: 12px 25px;
    border: none;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none; /* Remova o sublinhado do link */
    display: inline-block; /* Adicione essa propriedade para manter o botão em linha com o texto */
}

.quero-adotar::before {
    content: '\2764'; /* Código Unicode do símbolo de coração */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: transparent; /* Inicialmente, o coração é transparente */
    font-size: 30px; /* Tamanho do coração */
    opacity: 0; /* Inicialmente, o coração está totalmente transparente */
    transition: opacity 0.5s, color 0.5s; /* Adiciona uma transição suave para a cor e opacidade */
}

.quero-adotar:hover {
    color: transparent; /* Quando o mouse passa sobre o botão, o texto fica transparente */
    background-color: red;
    font-size: 130%;
    border-radius: 30px;
}

.quero-adotar:hover::before {
    color: #fff; /* Quando o mouse passa sobre o botão, o coração fica visível */
    opacity: 1; /* Quando o mouse passa sobre o botão, o coração torna-se totalmente visível */
}

/* Seção de Introdução */
#intro {
    text-align: center;
    padding: 20px;
}

.intro-content {
    display: flex;
    flex-direction: column; /* Alterado para empilhar os elementos em telas menores */
    align-items: center;
}

.intro-text {
    max-width: 800px; /* Ajuste a largura máxima conforme necessário */
    text-align: left;
    margin: 20px auto; /* Centralize o texto horizontalmente */
    position: relative;
    padding: 20px;
    border: 2px solid rgb(204, 192, 192);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    background-image: linear-gradient(to bottom, #982649, #AE4147, #C76548);
    color: white;
}

.titulo-texto {
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: 900;
    line-height: 3px; /* tamanho da altura de cada linha */
    letter-spacing: 1px; /* tamanho do espaço entre cada letra */
    word-spacing: 4px; /* tamanho do espaço entre cada palavra */
    text-align: center;/* tamanho da margem da primeira linha do texto */
}


/* Estilos para o Footer inspirado no think32.com.au */
#footer-inspired {
    background-image: linear-gradient(to top, #982649, #AE4147, #C76548);
    color: #fff;
    padding: 40px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-section {
    max-width: 300px;
}

.footer-section h3 {
    font-size: 1.5em;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section ul li {
    margin-bottom: 10px;
}
.footer-section a:hover{
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.social-icons {
    list-style: none;
    padding: 0;
    display: flex;
}
.social-icons a:hover {
   color: #ffffff;
font-size: 1.7em;
}
.social-icons li {
    margin-right: 10px;
}

.social-icons a {
    color: #fff;
    font-size: 1.5em;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #fff;
}


/*Página de adoção*/

/* Adicione o CSS para a grade de adoção */

.adocao-titulo{
    font-size: 30px;
    color: rgb(247, 187, 10);
    letter-spacing: 1px;
}

#adoption {
    text-align: center;
    padding: 20px;
}

.adoption-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Adoção - Estilo das divisões e botão de adotar */
.adoption-item {
    box-sizing: border-box; /* Inclui a borda no cálculo do tamanho total */
    width: calc(33.3333% - 20px); /* 33.3333% do width total, subtraindo a margem */
    margin: 10px; /* Espaçamento entre as caixas */
    border: 1px solid rgb(229, 196, 207);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: inline-block; /* Permite o alinhamento lado a lado */
    vertical-align: top; /* Alinha no topo */
    background-color: rgba(247, 188, 10, 0.067);
}

.adoption-item button {
    background-color: rgb(247, 187, 10);
    color: white;
    padding: 10px 40px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
    font-size: 17px;
}

.adoption-item button:hover {
    background-color: rgb(249, 201, 55);
}

@media only screen and (max-width: 767px) {
    .adoption-item {
        width: 100%; /* Em telas menores, ocupa a largura total */
    }
}

.adoption-item img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.adoption-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.adoption-item p {
    color: #555;
    font-size: 16px;
}

/* Voluntariado */
.center-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
}

.conta-titulo{
    font-size: 35px;
}
/* Style for the registration box */
.registration-box {
    max-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.528);

}

.registration-box h2 {
    text-align: center;
    color: rgb(0, 0, 0);
}

.registration-box form {
    display: flex;
    flex-direction: column;
    color: black;
    text-align: left;
}

.registration-box label {
    font-weight: bold;
    margin-top: 20px;
}

.registration-box input {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000000;
    border-radius: 5px;
}

.registration-box button {
    background-color: rgb(247, 187, 10);
    color: #ffffff;
    padding: 12px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 35px;
    font-weight: bold;
    transition: background-color 0.3s;
    font-size: 20px;
}

.registration-box button:hover {
    background-color: rgb(247, 196, 42);
}


/*Ajuda Solidaria*/
body{
    margin-top: -10px;
}
.titulo-ajuda{
    font-size: 90px;
    margin: 0;
    font-family: 'titulo';
    margin-top: 10px;
    padding-top: 10px;
    letter-spacing: 5px;
    text-align: center;
    background-color: rgb(128, 27, 57);
    color: white;
}
/* Estilos para a seção de Ajuda Solidária */
#ajuda-solidaria {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 40px;
    text-align: center;
    color: white;
    background-image: linear-gradient(to bottom, #801B39, #AE4147, #C76548);
}

.ajuda-container {
    max-width: 800px;
    margin: 0 auto;
}

.ajuda-text {
    margin-bottom: 20px;
}

.redes-sociais {
    margin-top: 20px;
}

.icones-redes-sociais a {
    display: inline-block;
    margin: 0 10px;
    font-size: 24px;
    color: #ffffff; /* Altere a cor conforme necessário */
}

.icones-redes-sociais a:hover {
    color: rgb(255, 255, 255);
    font-size: 1.6em;
}

/* Adicionando estilos para tornar a seção responsiva */
@media only screen and (max-width: 767px) {
    #ajuda-solidaria {
        padding: 20px; /* Ajuste o preenchimento conforme necessário para telas menores */
    }

    .ajuda-container {
        max-width: 100%; /* Ocupa toda a largura disponível em telas menores */
    }

    .ajuda-text {
        margin-bottom: 10px; /* Ajuste a margem inferior conforme necessário em telas menores */
    }

    .redes-sociais {
        margin-top: 10px; /* Ajuste a margem superior conforme necessário em telas menores */
    }
}


/* Adicione este estilo para a caixa centralizada */
/* Adicione este estilo para a caixa centralizada */
#quero-adotar {
    background-color: rgba(246, 246, 246, 0.9);
    padding: 40px;
    text-align: center;
    color: #000;
    display: flex;
    flex-direction: column; /* Alterado para alinhar itens verticalmente */
    align-items: center; /* Alinha os itens no centro horizontalmente */
    justify-content: center; /* Alinha os itens no centro verticalmente */
    height: 100vh; /* Ocupa 100% da altura da viewport */
}

.central-box {
    max-width: 800px;
    margin: 0 auto;
}

.central-box p {
    margin-bottom: 20px;
}

.icone-whatsapp {
    font-size: 24px;
    margin-right: 10px;
    color: rgb(247, 187, 10);
}

.adoption-text {
    border: 2px solid rgb(128, 27, 57);
    border-radius: 15px;
    padding: 20px;
    background-color: #801b3947;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

/* Adicione este estilo para o ícone do WhatsApp e o número de telefone */
.whatsapp-info {
    display: flex;
    align-items: center;
}

